# Python и Django პითონის და ჯანგოს შექმნილი ფაილების იგნორი
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyre
*.egg-info/
dist/
build/
*.egg
*.whl

# Django პროექტის გაშვებისას შექმნილი ფაილების და კატალოგების იგნორი
db.sqlite3
media/
static/

# პროექტის მოწყობების იგნორი
# settings.py # ეს ამ ეტაპზე მე დავაკომენტარე, ვთვლი რომ ესეც უნდა აიტვირთოს

local_settings.py

# რედაქტორების და ტულსების მიერ შექმნილი ფაილების იგნორი
.vscode/
.idea/
*.bak
*.swp
*~